{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="inner questions_form" style="margin-bottom: 50px;">
        <ul>
            {% for userAnswer in userAnswers %}
                <li>
                    <p>
                        {{ userAnswer.question }}
                    </p>
                    {% if userAnswer.text is defined %}
                        <p>{{ userAnswer.text }}</p>
                    {% else %}
                        <p>{{ userAnswer.answer | join(',') }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}