{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="inner">
        <ul>
            {% for user in users %}
                <li>
                    <label>{{ user.username }}</label>
                    <div class="surveys">
                        {% for survey in surveys %}
                            <a href="{{ url('atm_survey_user',{ 'surveyId':survey.id,'userId':user.id }) }}">{{ survey.name }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
