{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="inner questions_form" style="margin-bottom: 50px;">
        <h1>{{ survey.name | title }}</h1>
        <form action="{{ path('atm_survey_user_submit',{'surveyId':survey.id, 'userId':user.id}) }}" method="post" id="frmSurvey">
            <ul>
                {% for question in survey.questions %}
                    <li>
                        <p>
                            {{ question.question }}
                            {% if question.askedBy %}
                                - Asked By {{ question.askedBy }}
                                <input type="hidden" name="answers[answer{{ question.id }}][asked_by][username]" value="{{ question.askedBy.username }}">
                                <input type="hidden" name="answers[answer{{ question.id }}][asked_by][username_canonical]" value="{{ question.askedBy.usernameCanonical }}">
                            {% endif %}
                        </p>
                        <input type="hidden" name="answers[answer{{ question.id }}][id]" value="{{ question.id }}">

                        {% if question.type != 'text' %}
                            <ul class="answer">
                                {% for choice in question.choices %}
                                    <li>
                                        <label>
                                            {% if question.type == 'single_choice' %}
                                                <input type="radio" name="answers[answer{{ question.id }}][choice]" value="{{ choice.id }}">
                                            {% else %}
                                                <input type="checkbox" name="answers[answer{{ question.id }}][choice{{ choice.id }}]" value="{{ choice.id }}">
                                            {% endif %}

                                            {{ choice.choice }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <textarea name="answers[answer{{ question.id }}][text]" class="txAnswer"></textarea>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a class="but red" onclick="$('#frmSurvey').submit()" style="background: #ff4081;color: #FFF;position: relative;left: 50%;">Send</a>
        </form>
    </div>
{% endblock content %}

