<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Survey Bundle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="Mature" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/fonts/lato.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/fonts/quicksand.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/fonts/leaguespartan.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link href="{{ asset('bundles/atmsurvey/css/css.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/atmsurvey/js/jquery-1112.js') }}"></script>
    {% block stylesheets %}{% endblock stylesheets %}
    {% block headingJS %}{% endblock headingJS %}
</head>
<body class="atm_survey">
    <div class="main">
        {% block header %}
            {% include 'ATMSurveyBundle:Admin:headerMenu.html.twig'%}
        {% endblock header %}
        {% block content %}{% endblock content %}
    </div>
    {% block javascripts %}{% endblock javascripts %}
</body>
</html>
