<div class="gqHeaderMenuContainer">
    <div class="gqHeaderMenu">
        <div  class="gqCartContainer gqNotActive" id="gqMobileTrigger">
            <img src="{{ asset('bundles/atmsurvey/images/burger.svg') }}" class="gqIcon">
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="gqMobileMenuContainer">
    <div class="gqMobileMenu">
        <a class="gqLink" href="{{ path('atm_survey_list') }}">Surveys</a>
        <a class="gqLink" href="{{ path('atm_survey_create') }}">New Survey</a>
        <a class="gqLink" href="{{ path('atm_survey_list_interactive_questions') }}">Review Interactive Questions</a>
        <a class="gqLink" href="{{ path('atm_survey_list_answered_interactive_questions') }}">Review Answered Interactive Questions</a>
    </div>
</div>

<script type="application/javascript">
    $(document).on('click', '#gqMobileTrigger.gqNotActive', function() {
        $('.gqMobileMenuContainer').animate({right: 0}, 50);
        $(this).removeClass('gqNotActive').addClass('gqActive');
    });
    $(document).on('click', '#gqMobileTrigger.gqActive', function() {
        $('.gqMobileMenuContainer').animate({right: '-300px'}, 50);
        $(this).removeClass('gqActive').addClass('gqNotActive');
    });
</script>