{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <style>
        .ui-state-default{width: 100% !important;text-align: center !important;}
        .fr-view {font-family:"Quicksand", sans-serif !important;}
    </style>
{% endblock stylesheets %}

{% block headingJS %}
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/js/jquery-ui.min.1121.js') }}"></script>
{% endblock headingJS %}

{% block content %}
    <div class="inner">
        <form action="{{ path('atm_survey_interactive_questions_create_survey') }}" method="post" id="frmQuestions" enctype="multipart/form-data" style="margin-bottom:500px">
            <fieldset>
                <legend>Survey Name</legend>
                <input type="text" name="survey_name" value="{{ interactiveQuestions[0].model.title ? interactiveQuestions[0].model.title : interactiveQuestions[0].model.username }}" required>
            </fieldset>

            <fieldset style="margin-top:20px;">
                <legend>Init Date</legend>
                <input type="text" name="initDate" id="_txInitDate" required autocomplete="off">
            </fieldset>

            <fieldset style="margin-top:20px;">
                <legend>End Date</legend>
                <input type="text" name="endDate" id="_txEndDate" required autocomplete="off">
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image (1440 x 478)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImage" class="flImage" required>
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image Mobile (420 x 280)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImageMobile" class="flImage" required>
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image Middle (1440 x 478)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImageMiddle" class="flImage" required>
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Profile Image (500 x 500)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flProfileImage" class="flImage" required>
            </fieldset>

            <input type="hidden" name="questions" id="hdnQuestions">
            <div class="controls" style="width: 70%;display: block;margin: 0 auto;">
                <a class="but red" onclick="$('#frmQuestions').submit()" style="float: right;">Save Questions</a>
                <div class="clear"></div>
            </div>
            <div class="questions_container">
                {% for question in interactiveQuestions %}
                    <div class="question" style="cursor:pointer">
                        <a class="but btnRemoveQuestion" onclick="$(this).parent().remove()">Remove</a>
                        <textarea class="question_text" name="question[{{ question.id }}]">{{ question.question }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="controls" style="width: 70%;display: block;margin: 0 auto;">
                <a class="but red" onclick="$('#frmQuestions').submit()" style="float: right;">Save Questions</a>
                <div class="clear"></div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{{ asset('bundles/atmsurvey/js/survey.js') }}"></script>
    <script>

        $('.flImage').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                currentInput.siblings('img').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        let dateFormat = 'dd-mm-yy';
        let from = $( "#_txInitDate" )
                .datepicker({
                    dateFormat: dateFormat,
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3
                }).on( "change", function() {
                    to.datepicker( "option", "minDate", getDate( this ) );
                }),
            to = $( "#_txEndDate" ).datepicker({
                dateFormat: dateFormat,
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3
            }).on( "change", function() {
                from.datepicker( "option", "maxDate", getDate( this ) );
            });

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }

        $('.questions_container').sortable();
        $('.questions_container').disableSelection();
    </script>
{% endblock javascripts %}