{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="inner questions_form" style="margin-bottom: 50px;">
        <span style="color: #FA3E3E;">{{ form_errors(form) }}</span>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <script>
        $('#atm_surveybundle_interactivequestiontype_question_cancel').on('click', function(e){
            parent.location.href = '{{ path('atm_survey_list_interactive_questions') }}';
        });
        $('#atm_surveybundle_interactivequestiontype_answer_cancel').on('click', function(e){
            parent.location.href = '{{ path('atm_survey_list_answered_interactive_questions') }}';
        });
    </script>
{% endblock content %}

