{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <style>
        .ui-state-default{width: 100% !important;text-align: center !important;}
        .fr-view {font-family:"Quicksand", sans-serif !important;}
    </style>
{% endblock stylesheets %}


{% block content %}
    <div class="inner">
        <form action="{{ path('atm_survey_create') }}" method="post">
            <fieldset style="margin-bottom:20px;">
                <legend>Create Survey</legend>
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset style="margin-bottom:20px;">
                <legend>Init date</legend>
                {{ form_widget(form.init_date) }}
            </fieldset>
            <fieldset style="margin-bottom:20px;">
                <legend>End date</legend>
                {{ form_widget(form.end_date) }}
            </fieldset>
            {{ form_rest(form) }}
            <input type="submit" class="but blue" value="Save">
        </form>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{{ asset('bundles/atmsurvey/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        let dateFormat = 'dd-mm-yy';
        let from = $( "#atm_survey_init_date" )
            .datepicker({
                dateFormat: dateFormat,
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3
            }).on( "change", function() {
                to.datepicker( "option", "minDate", getDate( this ) );
            }),
            to = $( "#atm_survey_end_date" ).datepicker({
                dateFormat: dateFormat,
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3
            }).on( "change", function() {
                from.datepicker( "option", "maxDate", getDate( this ) );
            });

            function getDate( element ) {
                var date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }

                return date;
            }
    </script>
{% endblock javascripts %}