{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.css') }}">
{% endblock stylesheets %}

{% block headingJS %}
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
{% endblock headingJS %}

{% block content %}
    <div class="inner">
        <form action="{{ path('atm_survey_create_questions',{ 'surveyId':survey.id }) }}" method="post" id="frmQuestions" enctype="multipart/form-data" style="margin-bottom:500px">
            <fieldset>
                <legend>Questions for survey: <span style="font-weight: bold;">{{ survey.name | title }}</span></legend>
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image (1440 x 478)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImage" class="flImage">
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image Mobile (420 x 280)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImageMobile" class="flImage">
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image Middle (1440 x 478)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImageMiddle" class="flImage">
            </fieldset>

            <fieldset style="width: 50%;float: left;min-height: 500px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Profile Image (500 x 500)</legend>
                <img src="{{ asset('bundles/atmsurvey/images/image-placeholder.png') }}" style="float: none;max-width: 100%">
                <input type="file" name="flProfileImage" class="flImage">
            </fieldset>

            <input type="hidden" name="questions" id="hdnQuestions">
            <div class="controls" style="width: 70%;display: block;margin: 0 auto;">
                <a class="but blue btnAddQuestion" style="float: left;">Add Question</a>
                <a class="but red btnSaveQuestions" style="float: right;">Save Questions</a>
                <div class="clear"></div>
            </div>
            <div class="questions_container"></div>
            <div class="controls" style="width: 70%;display: block;margin: 0 auto;">
                <a class="but blue btnAddQuestion" style="float: left;">Add Question</a>
                <a class="but red btnSaveQuestions" style="float: right;">Save Questions</a>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="question_clone" style="display:none">
        <a class="but" onclick="$(this).parent().remove();">Remove Question</a>
        <div class="selectC">
            <select class="slcQuestionType">
                <option value="text" selected>Text</option>
                <option value="single_choice">Single Choice</option>
                <option value="multiple_choice">Multiple Choice</option>
            </select>
        </div>
        <textarea class="question_text"></textarea>
        <div class="typeContainer" style="display:none">
            <a class="but red addChoice">Add Choice</a>
            <div class="choice_container">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="modal fade" id="popAddOption" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Option Text</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body">
                    <input type="text" id="txOptionText">
                </div>
                <div class="modal-footer">
                    <a class="but blue" id="btnSaveOption">Create option</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{{ asset('bundles/atmsurvey/js/survey.js') }}"></script>
    <script>
        $('.btnSaveQuestions').click(function(){
            var questions = [];

            $('.questions_container .question').each(function(){
                var question = $(this);
                var obj = new Object();

                obj['text'] = question.find('.question_text').val();
                obj['type'] = question.find('.slcQuestionType').val();

                if(obj['type'] != 'text'){
                    var choicesContainer = question.find('.choice_container');
                    obj['choices'] = [];
                    choicesContainer.find('div').each(function(){
                        obj['choices'].push($(this).find('.choiceText').html());
                    });
                }

                questions.push(obj);
            });

            $('#hdnQuestions').val(JSON.stringify(questions));
            $('#frmQuestions').submit();
        });

        $('.flImage').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                currentInput.siblings('img').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock javascripts %}