{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="header">
        <img src="{{ asset(survey.header_image) }}">
        <img src="{{ asset(survey.profile_image) }}">
    </div>
    <div class="inner questions_form">
        <h1>{{ survey.name | title }}</h1>
        <ul>
            {% for question in survey.questions %}
                <li>
                    <p>{{ question.question }}</p>
                    {% if question.type != 'text' %}
                        <ul class="answer">
                        {% for choice in question.choices %}
                            <li>
                                <label>
                                    <input type="{{ question.type == 'single_choice' ? 'radio' : 'checkbox' }}" name="">
                                    {{ choice.choice }}
                                </label>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <textarea name="" class="txAnswer"></textarea>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}

