* {margin:0;padding:0}
html,body {height:100%;background-color: #f8f6f6;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body {font: 15px/24px Quicksand, sans-serif;color: #000;background: #f9f6f6;cursor:default;text-align:center}
body.newTour{font: 15px/24px "Quicksand", sans-serif}
body.white{background:#FFF}
table {border-collapse:separate;border-spacing:0}
caption,th,td {text-align:left;font-weight:normal}
table,td,th {vertical-align:middle}
blockquote::before,blockquote::after,q::before,q::after {content:""}
blockquote,q {quotes:"" ""}
a img, button {outline:none;border:0;background:none}
a {outline:0 none;text-decoration: none;color: #000}
a *{cursor: pointer}
a:focus,a:hover {text-decoration:none;outline:0 none;cursor:pointer}
.clear {clear:both}
.over {overflow:hidden;height:0}
ul,li,ol,li,b,img,p,a,h1,h2,h3,h4,h5 {float:left;display:inline-block;text-align: left}
input,textarea {display:inline-block;text-align: left}
[data-sr] {visibility:hidden}
.fa-heart, .red {color: #ff558f}
*, *::after, *::before, *:hover {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
select {-webkit-appearance: none;-moz-appearance: none;text-overflow: '';text-indent: 1px;}
.sorting select::-ms-expand {display: none}
.sorting select {-webkit-appearance: none;-moz-appearance: none;text-overflow: '';text-indent: 1px}
.small{font-size:0.8rem !important}
.right{float:right}
.left{float:left}
.center{text-align:center}
.x2{font-size:1.3rem}
.x3{font-size:2.5rem}
.flex{display:flex;align-items: center;justify-content: space-between}
.b{font-family: QuicksandBold, Arial, sans-serif}
.latobold{font-family:LatoBold, Arial, sans-serif}

.selectC {position: relative;display: inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-khtml-border-radius: 4px;border: 1px solid #ccc;width: auto;font: 500 12px/22px Open Sans, Arial, sans-serif;cursor: pointer;position: relative}
.selectC select {display: inline-block;border: 0;background: none;color: #000;padding: 6px 37px 7px 8px;z-index: 2;position: relative;font-size: 12px;cursor: pointer;line-height: 14px;white-space: nowrap;font-family: Quicksand, Arial, sans-serif}
.selectC::before {z-index: 1;content: "";width: 25px;height: 27px;position: absolute;right: 0;top: 0;background: url(/bundles/atmsurvey/images/caret_down.svg) no-repeat center center;border-left: 1px solid rgba(0, 0, 0, 0.31);background-size: 12px}

.content{ width: 100%; max-width: 1300px; min-height: 100%}
.wide{ width: 100%}
.narrow{ width: 95%; max-width:1000px; margin:0 auto}
.half{ width: 50%;float:left}
.threequarter{width: 75%;float: left}
.quarter{width: 25%;float: left}
.third{width:33.33%;float:left}
.twothird{width:66.66%;float:left}
.smallfifth{width:20%;float:left;}
.longfifth{width:80%;float:left}
.fifth{width:20%;float:left}

.extramargin1{margin:10px 0;float:left}
.extramargin2{margin: 40px 0;float:left}

@media all and (max-width: 800px)   { .half{width: 85%;margin: 0 7.5%}}
@media all and (max-width: 1000px)  { .narrow    { width: 96%; margin-left: 2%; margin-right: 2%; }}
@media all and ( min-width: 1300px) { .content   { float: none !important; }}

a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background:#ff4081!important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.but.dark{background:#777 !important}
.but.dark:hover{background:#777676}
a.but.inactive{background: #a9a9a9;border: 0;color: #000}
input[type='text']{font: normal 15px/25px 'Quicksand', sans-serif;border: 1px solid #ccc;padding: 1px 5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;border-radius: 4px;}
input[type='text'].disabled{background-color: #e1e1e1;}

.loader{border-top: 10px solid blue;border-right: 10px solid green;border-bottom: 10px solid red;border-left: 10px solid pink;border-radius: 50%;width: 30px;height: 30px;animation: spin 2s linear infinite;display: block;margin: 0 auto;}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}

.main{display: block;max-width: 1100px;margin: 0 auto;}

.inner {float:none;width:100%;margin: 0 auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1100px}
.inner.noborder {border:0}
.inner.nopadding {padding:0}
.inner.nomargin {margin:0}
.inner.nomarginbottom {margin-bottom:0}
.inner.nopaddingbottom {padding-bottom:0}
.inner.nobackground {background: #fff}
.inner_grey {float:left;display:inline-block;width:100%;margin:0;position:relative;text-align:center;background:none;overflow:hidden;border-top:1px solid #e5e5ea}
.inner.wide{max-width:none;width:100%;background: #efd0d0;text-align: left;position: relative;z-index: 0}
.inner.padding{padding: 78px 0 110px}
.inner.grad, h1.grad, .footer .cont.gray.grad{background: rgb(255,64,129);background: -moz-linear-gradient(-45deg, rgba(255,64,129,1) 13%, rgba(41,137,216,1) 55%, rgba(32,124,202,1) 65%, rgba(125,185,232,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(255,64,129,1) 13%,rgba(41,137,216,1) 55%,rgba(32,124,202,1) 65%,rgba(125,185,232,1) 100%);background: linear-gradient(135deg, rgba(255,64,129,1) 13%,rgba(41,137,216,1) 55%,rgba(32,124,202,1) 65%,rgba(125,185,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4081', endColorstr='#7db9e8',GradientType=1 )}
.inner.wide .wide{max-width:1100px;margin:0 auto}
.inner.wide .narrow{max-width:1000px;margin:0 auto}
.inner.wide.bg::before{width:100%;height:100%;content:"";position:absolute;top:0;left:0;z-index:0;opacity:.5;background:#310515}
.inner.wide.bg .half{position:relative;top: 50%;transform: translateY(-50%)}
.inner.wide.gray{background: #f5f0ea;position:relative;padding: 38px 0 60px}
.inner.wide.gray::before{content:"";width:50%;height:100%;background:#484848;position:absolute;top:0;left:0;display:none}
.inner.inner-player{width: 90%;margin: 0 5% 0;background: #f9f6f6}
.inner.inner-player>.threequarter{background: #f9f6f6;margin-top:-59px}
.header {display:inline-block;width:100%;position: relative;z-index: 999999;height: auto}
.header .inner {width:98%;float:none;max-width: 1100px;margin:0 auto;padding:0;border:0;background:0}
.inner  p, textarea, input{text-align:left;font: normal 14px/18px Quicksand, serif}

.navigation {float:left;margin:20px 0 0;width:100%;text-align:center}
.thumbs .navigation{width:100%;margin: 0}
.pagination {display:inline-block;text-align:center;margin:0 auto}
.pagination span {float:left;display:inline-block;font: 14px/33px "Quicksand",serif;margin: 0 4px 0 0;overflow: hidden;border-radius: 6px;border: 1px solid #ccc;padding: 0;width: 35px;text-align: center}
.pagination span.last a{padding:0 10px}
.pagination span a {color: #000;padding: 0;background: #f7f5f3;width: 100%;text-align: center;float: left}
.pagination span a:hover {color:#000032;background:#ffffff}
.pagination span a.highlight, .pagination span a.highlight:hover, .pagination span.current {color: #000000;cursor:default;background: rgb(196, 229, 255)}
.pagination span.current{border-color:#ff558f}
.pagination span a.highlight{background: #FFF;color:#ff558f;font-family:Quicksand, sans-serif}

.gqHeaderMenuContainer{width:100%;float: left;}
.gqHeaderMenuContainer .gqHeaderMenu{margin: 25px 0;}
.gqHeaderMenuContainer .gqHeaderMenu .gqCartContainer{padding: 10px 0;background-color: #ff4081;border-radius: 5px;float: right;cursor: pointer;}
.gqHeaderMenuContainer .gqHeaderMenu .gqCartContainer .gqIcon{height: 20px;margin: 0 10px;cursor: pointer;}
.gqMobileMenuContainer{position: fixed;top: 0;bottom: 0;right: -250px;width: 250px;height: 100%;background-color: #e1ded8;z-index: 100000;border-left: 2px solid #fff;}
.gqMobileMenuContainer .gqMobileMenu{padding: 25px;}
.gqMobileMenuContainer .gqMobileMenu .gqLink{padding: 5px 0;font: 14px/16px "QuicksandMedium",Helvetica,Verdana,Arial,sans-serif;color: #141414;text-align: left;display: block;width: 100%;}

.survey_container{}
.survey_container table{width:100%}
.survey_container table thead{background-color: #dcdcdc;}
.survey_container table thead tr{}
.survey_container table thead tr th{text-align: center;padding: 10px;font-weight: bold;}
.survey_container table tbody tr{}
.survey_container table tbody tr:nth-child(2n){background-color:#efefef}
.survey_container table tbody tr td{text-align: center;padding: 10px;}
.survey_container table tbody tr td a{display: inline-block;width: 20px;font-size: 20px;margin-right: 10px;}

.questions_container{width: 70%;display: block;margin: 20px auto;}
.questions_container .question{margin: 20px 0;border: 1px solid #dadada;padding: 10px;border-radius: 10px;box-sizing: border-box;}
.questions_container .question .question_text{width: 100%;resize: vertical;min-height: 100px;padding: 5px;margin-top: 10px;}
.questions_container .question .selectC{float: right;}
.questions_container .question .typeContainer .addChoice{float: left;}
.questions_container .question .typeContainer .choice_container{float: right;width: 80%;border: 1px solid #d0d0d0;border-radius: 10px;}
.questions_container .question .typeContainer .choice_container div .removeChoice{cursor: pointer;font-size: 15px;font-weight: bold;margin-left: 10px;}

.questions_form{padding: 10px;border: 1px solid #cebcbc;box-sizing: border-box;border-radius: 10px;}
.questions_form h1{width:100%;text-align: center;font-weight: bold;font-size: 18px;margin-bottom: 20px;text-decoration: underline}
.questions_form ul{width: 100%;}
.questions_form ul li{width: 100%;float:none;margin-bottom: 10px;text-align: center;}
.questions_form ul li p{width: 100%;font-weight: bold;text-align: center;margin-bottom: 10px;}
.questions_form ul li .answer{display: inline-block;margin: 0 auto;float: none;width: auto;}
.questions_form ul li .answer li{width: auto;float: left;margin-right: 15px;}
.questions_form ul li .answer li label{display: inline-block;width: 100%;}
.questions_form ul li .answer li label input{}
.questions_form ul li .txAnswer{width: 100%;min-height: 100px;resize: vertical;padding: 5px;}

#popSearchUsers{}
#surveyUrlLink{color: #5f9dfb;display: none;width: 100%;padding: 10px;box-sizing: border-box;border: 1px solid #ececec;margin-top: 10px;border-radius: 5px;}
#popSearchUsers .userContainer{}
#popSearchUsers .userContainer a{float: none;display: inline-block;width: 100%;text-align: center;padding: 10px;}
#popSearchUsers .userContainer a:nth-child(2n){background-color:#efefef}
