{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="inner questions_form" style="margin-bottom: 50px;">
        <h1>{{ survey.name | title }}</h1>
        <form action="{{ path('atm_survey_edit_answer',{'answerId':answer.id}) }}" method="post" id="frmSurvey">
            <ul>

                {% for question in survey.questions %}
                    {% set userAnswer = getUserAnswer(question,responses.answers) %}
                    <li>
                        <p>{{ question.question }}</p>
                        {% if question.askedBy %}
                            - Asked By {{ question.askedBy }}
                            <input type="hidden" name="answers[answer{{ question.id }}][asked_by][username]" value="{{ question.askedBy.username }}">
                            <input type="hidden" name="answers[answer{{ question.id }}][asked_by][username_canonical]" value="{{ question.askedBy.usernameCanonical }}">
                        {% endif %}
                        <input type="hidden" name="answers[answer{{ question.id }}][id]" value="{{ question.id }}">
                        {% if question.type != 'text' %}
                            <ul class="answer">
                                {% for choice in question.choices %}
                                    <li>
                                        <label>
                                            {% if question.type == 'single_choice' %}
                                                <input type="radio" name="answers[answer{{ question.id }}][choice]" value="{{ choice.id }}" {{ choice.id in userAnswer ? 'checked' }}>
                                            {% else %}
                                                <input type="checkbox" name="answers[answer{{ question.id }}][choice{{ choice.id }}]" value="{{ choice.id }}" {{ choice.id in userAnswer ? 'checked' }}>
                                            {% endif %}
                                            {{ choice.choice }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <textarea name="answers[answer{{ question.id }}][text]" class="txAnswer">{{ userAnswer }}</textarea>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a class="but red" onclick="$('#frmSurvey').submit()" style="background: #ff4081;color: #FFF;position: relative;left: 50%;">Save</a>
        </form>
    </div>
{% endblock content %}

