{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="inner">
        <div class="survey_container">
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer.user.username }}</td>
                        <td>{{ answer.creation_date | date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('atm_survey_edit_answer',{ 'answerId':answer.id }) }}" title="Edit Answers"><i class="fa fa-pencil"></i></a>
                            {% if answer.answers %}
                            <a href="{{ path('atm_survey_see_text_answer',{ 'answerId':answer.id }) }}" target="_blank" title="See Text Answers"><i class="fa fa-eye"></i></a>
                            {% endif %}
                            <a href="{{ path('atm_survey_delete_answered_survey',{ 'answerId':answer.id }) }}" title="See Text Answers"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}